<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593031938519-hpktr076kdkah49v44onpa7270701dhv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593031938519-hpktr076kdkah49v44onpa7270701dhv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>593031938519-ad6urgkjcsdl417mbkv1714ftkr3dh9u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB6uuZIAtMS2-K30ms8gtD-uv3xGcQ2Ez4</string>
	<key>GCM_SENDER_ID</key>
	<string>593031938519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterStudyJam</string>
	<key>PROJECT_ID</key>
	<string>flutter-study-jam-35335</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-study-jam-35335.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593031938519:ios:28ef79b135d7f72c388b92</string>
</dict>
</plist>